@model PrijavljivanjeViewModel

@{
    ViewBag.Naslov = "Prijavljivanje";
    Layout = "_AdminLayout";
}

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Prijavljivanje" asp-controller="Account" method="post">
    <div class="form-group">
        <div><span class="text-danger" asp-validation-for="Email"></span></div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <div><span class="text-danger" asp-validation-for="Sifra"></span></div>
        <label>Šifra</label>
        <input asp-for="Sifra" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary btn-block"> Prijavi se</button>
</form>
