<div class="row" *ngIf="korisnik">
    <div class="col-4">
        <h1>Vaši podaci</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            Vaše izmene su sačuvane.
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="{{korisnik.glavnaSlikaUrl || './assets/user.png'}}" alt="{{korisnik.userName}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Lokacija:</strong>
                    <p>{{korisnik.grad}}, {{korisnik.drzava}}</p>
                </div>
                <div>
                    <strong>Godine:</strong>
                    <p>{{korisnik.brojGodina}}</p>
                </div>
                <div>
                    <strong>Datum aktivnosti:</strong>
                    <p>{{korisnik.poslednjaAktivnost}}</p>
                </div>
                <div>
                    <strong>Datum zaposlenja:</strong>
                    <p>{{korisnik.datumZaposlenja}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button [disabled]="!editForm.dirty" class="btn btn-primary btn-block" form="editForm" type="submit">Sačuvaj podatke</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='O {{korisnik.userName}}'>
                <form #editForm="ngForm" (ngSubmit)="updateKorisnik()" id="editForm">
                <h4 class="mt-2">Interesovanja</h4>
                <textarea rows="6" class="form-control" [(ngModel)]="korisnik.interesovanja" name="interesovanja"></textarea>
                <h4 class="mt-2">Informacije</h4>
                <textarea rows="6" class="form-control" [(ngModel)]="korisnik.informacije" name="informacije"></textarea>
                <h4 class="mt-2">Obrazovanje</h4>
                <textarea rows="6" class="form-control" [(ngModel)]="korisnik.obrazovanje" name="obrazovanje"></textarea>
                <h4 class="mt-2">Grad zaposlenja</h4>
                <div class="form-inline">
                     <label>Grad: </label>
                     <input type="text" class="form-control mx-2" [(ngModel)]="korisnik.grad" name="grad">
                     <label>Država: </label>
                     <input type="text" class="form-control mx-2" [(ngModel)]="korisnik.drzava" name="drzava">
                </div>
                </form>
            </tab>
            <tab heading='Slike'>
                <app-slike-edit [korisnik]="korisnik"></app-slike-edit>
            </tab>
        </tabset>
    </div>
</div>

